.main_container {
  width: 80%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.main_container > div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #eaeaea;
  transition: all 0.25s ease;
}

.main_container > div > h2 {
  margin: 0;
  padding: 1rem;
}

.main_container > div > p {
  margin: 0;
  padding: 1rem;
}

.main_container > div:hover {
  transform: scale(0.98);
}

.expenditure_container {
  cursor: pointer;
}

.btn {
  margin: 1rem;
  padding: 0.5rem 1rem;
  background-color: #d9d9d9;
  cursor: pointer;
  border: none;
  transition: all 0.25s ease;
}

.btn:hover {
  background-color: #bebebe;
}
