.main_container {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  margin-top: 1rem;
  margin-bottom: 10rem;
}

.inputs {
  align-self: stretch;
  padding: 0.5rem;
  border: none;
  outline: none;
  border-bottom: 2px solid #eaeaea;
  transition: all 0.25s ease;
}

.inputs:hover,
.inputs:focus {
  border-bottom: 2px solid #d9d9d9;
}

.image_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image_container > input {
  display: none;
}

.image_container > label {
  width: 80%;
  height: 15rem;
  background-color: #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #555555;
  box-shadow: 0 0 0 2px white, 0 0 0 4px #eaeaea;
  position: relative;
}

.image_container > label > img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}

.image_container > label > button {
  background-color: #eaeaea7e;
  border: none;
  padding: 0.5rem 1rem;
  transition: all 0.25s ease;
  cursor: pointer;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.image_container > label > button:hover {
  background-color: #d9d9d97e;
}

.btn {
  padding: 0.5rem 1rem;
  background-color: #eaeaea;
  border: none;
  cursor: pointer;
  transition: all 0.25s ease;
}

.btn:hover {
  background-color: #d9d9d9;
}

.loading {
  position: absolute;
  top: 102%;
  left: 0;
  width: 100%;
  height: 1.5rem;
  background-color: #eaeaea;
}

.loading > div {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.5rem;
  background-color: #6eff6e;
  transition: all 0.25s ease;
}
